h1{
    font-family: monospace;
    color: aqua;
    text-align: center;
    margin-top: 350px;
    font-size: 5rem;
}
p{
    font-size: 2rem;
    margin-top: 10px;
    text-align: center;
    color: burlywood;
}
body{
    background-color: rgb(99, 99, 99);
}